:root {
    font-size: 16px; /*this helps to define relative sizing (rem)*/
}

body {
    background-color: rgb(225, 225, 220);
    padding: 0;
    margin: 0;
}

.main_main {
    margin-left: 5rem; /* sidebar */
    margin-top: 4rem; /* navtop */
    min-height: 100dvh; /* every page is atleast 1 screen in height */

}

.main_wrapper { /*wrapper required to add margin/padding so that navbar doesnt get affected */
    padding: 1rem;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #a6a6a6;
}

body::-webkit-scrollbar-thumb {
    background-color: #535353;  
    border-radius: 0.25rem;
}

form {
    font-family: "Raleway", sans-serif; /* needs a fix */
}












/* navigation bar */


.navtop {
    z-index: 100; /* to ensure navbar is always on top on z axis */
    display: flex;
    margin: 0;
    padding: 0;
    height: 4rem;
    top: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 235, 225);
    border: solid black;
}

.logo {
    padding: 0.5rem;
    padding-top: 0.2rem;
}

.logo a{
    color: black;
    text-decoration: none;
    font-size: 3rem;
}
.sidebar {
    position: fixed;
    z-index: 99;
    margin: 0;
    padding: 0;
    width: 5rem; /* same as margin given in main*/
    height: calc(100vh - 4rem);
    background-color: rgb(240, 235, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    transition: 0.5s width ease; /* animation of sidebar */

}

.sidebar:hover {
    width: 16rem;
}

.sidebar:hover span{
    width: 100%;
}

.nav_item {
    width: 100%;
    transition: background-color 0.3s;
}

.nav_item:hover {
    background-color: rgb(230, 225, 215);
    transition: background-color 0.3s;
}

.nav_item:last-child {
    margin-top: auto;
}

.nav_item a {
    display: flex;
    align-items: center;
    height: 5rem;
    color: black;
    text-decoration: none;
    list-style: none;

    overflow: hidden; /* hide the text until it is revealed */

}

.nav_item span {
    overflow: hidden;
    display: inline-block;
    width: 0;
    margin-left: 1rem;
    white-space: nowrap;
    transition: width 0.5s ease;
}

.nav_item svg {
    min-height: 2rem;
    min-width: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    margin: 0 1.5rem;

    transition: transform 0.3s;
}

.nav_item:hover svg {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.nav_top_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.search_bar {
    width: 14rem;
    height: 3rem;
    padding: 0.5rem;
    position: relative;
    right: 0;
}

.search_input {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: solid 0.1rem #c9c9c9;
    background-color: rgb(240, 235, 225);
    color: rgb(120, 120, 120);
    font-family: "Raleway", sans-serif;
    border-radius: 0.25rem;
    outline: none;
    max-width: calc(100% - 1rem - 0.2rem); /* container width - padding - border */
}

.search_button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    filter: brightness(1);
    transition: filter 0.1s;
}

.search_button:hover {
    filter: brightness(0.5);
    transition: filter 0.1s;
}






.footer {
    background-color: #333;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 10rem;
    text-align: center;
}

.footer_logo a {
    text-decoration: none;
    color: #F4F4EE;
    font-size: 1.5rem;
}

.footer_navbar {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 3%;
}

.footer_navbar a{
    text-decoration: none;
    color: #F4F4EE;
}










/* registration */

.login_main {
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
}

.login_wrapper {
    display: flex;
    height: 100%;

}

.login_left {
    display: flex;
    position: relative; /* for overflow to work */
    margin: 0;
    padding: 0;
    width: 50dvw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.login_left_img {
    position: absolute; /* req for z-index to work as intended */
    object-fit: cover;
    z-index: 1;
    width: 50dvw;
    opacity: 0.7;
}


.login_left h1 {
    position: relative; /* req for z-index to work as intended */
    z-index: 2;
    text-align: center;
    font-size: 4rem;
    font-weight: lighter;
    color: white;
    text-shadow: 0 0 0.5rem #333;
}

.login_left h2 {
    position: relative; /* req for z-index to work as intended */
    z-index: 2;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: lighter;
    color: white;
    text-shadow: 0 0 0.5rem #333;

}


.login_right {
    display: block;
    margin: 0;
    padding: 0;
    width: 50dvw;
    background-color: rgb(240, 235, 225);

}

.register_container_wrapper {
    display: block;
    margin-top: 25%;
}

.register_container {
    display: block;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0px 0px 10px 3px #a6a6a6;
    width: 40%;
    background-color: #F4F4EE;
}

.register_container h3 {
    font-size: 24px;
    font-weight: bold;
}
.register_container h5 {
    font-size: 12px;
    font-weight: bold;
}

.login_form {
    width: 100%;
    overflow: hidden;
}

#div_id_password {
    text-align: left;
}

#div_id_username {
    text-align: left;
    margin-bottom: 0.5rem;
}

#id_username {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    width: calc(100% - 1.2rem); /* full width minus padding+border */

}

#id_password {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    width: calc(100% - 1.2rem); /* full width minus padding+border */
}

#id_email {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    width: calc(100% - 1.2rem); /* full width minus padding+border */
}

.already_have_account_button {
    text-align: center;
}

.form_group {
    font-size: 16px;
    font-weight: bold;
}

.register_container a {
    font-size: 20px;
    color: #333;
    text-decoration: underline;
}








/* profile */



.profile_content{
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 94%; /* 100 - margin*2 */
    border-radius: 25px;
    overflow:hidden; /* this makes border-radius take effect, otherwise it wont work */
    background-color: rgb(240, 235, 225);
}

.account_info_wrapper {
    padding: 5%;
    border-bottom: solid black;
    display: flex;
    align-items: center;
    width: 100%;
}

.account_info {
    display: inline-flex;
    flex-direction: column;

}

.account_img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
  
.username_wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}
.account_heading {
    font-size: 2rem;
    margin: 0;
}

.account_secondary {
    font-size: 1rem;
    margin: 0;
    margin-left: 20px;
}

.edit_profile_button {
    opacity: 0.6;
    margin: 0;
    padding: 0;
}

.edit_profile_button:hover {
    opacity: 1;    
}

.edit_profile_button img {
    height: 1rem;
    padding-left: 0.5rem;
}


.profile_bottom_wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 1rem; 
}

.profile_posts_grid {
    display: grid;
    width: calc(3*18rem+1rem);
    padding-right: 0.5rem;
    grid-template-columns: repeat(3, 1fr); /* three equal width columns*/
    grid-gap: 0.5rem;
    border-radius: 0.5rem;
}


.profile_post {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(120, 120, 120);
    width: 18rem;
    height: 18rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: filter 0.3s; /* transition: brightness 0.5s doesnt work */



}

.profile_post svg {
    height: 4rem;
}

.profile_post img {
    display: block;
    object-fit: cover;
    width: 18rem;
    height: 18rem;
}

.profile_post:hover {
    filter: brightness(0.7);
    transition: filter 0.3s; /* transition: brightness 0.5s doesnt work */
}

.profile_favorite_brands {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
    padding-top: 0;
    border-radius: 0.5rem;
    border: solid 0.1rem black;
}



#div_id_profile_image {
    background-color: red
}









.sign_in_button {
    background-color: #c9c9c9;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 20px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}

.sign_in_button:hover {
    opacity: 1;
}

label[for="id_username"] {
    color: #333;
    font-weight: bold;
}

label[for="id_password1"] {
    color: #333;
    font-weight: bold;

}

label[for="id_password2"] {
    color: #333;
    font-weight: bold;
    text-align: left;
}

input[type="text"] {
    height: 24px;
    width: 100%;
    margin-bottom: 2%;

}

input[type="password"] {
    height: 24px;
    width: 100%;
    margin-bottom: 2%;

}











/* homepage */

.homepage_button_grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.homepage_button {
    display: flex;
    opacity: 0.8;
    transition: opacity 0.5s;
    justify-content: center;
    text-align: center;
    position: relative;
}

.homepage_button:hover {
    transition: opacity 0.5s;
    opacity: 1;
}


.homepage_button img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 40rem;
}

.homepage_button span {
    z-index: 1;
    display: inline-block;
    position: absolute;
    top: 75%;
    transform: translate(-50%, -50%); /* Center the text vertically and horizontally */
    color: white;
    text-decoration: none;
    font-size: 2rem;
}






.browse_wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    min-height: 100dvh;
}

.browse_wrapper_left {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(240, 235, 225);
    border-radius: 0.5rem;
    padding: 1rem;
}

.browse_title {
    display: block;
    max-width: 100%;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-bottom: solid #333;
    font-size: 3rem;
}


/*.browse_wrapper_left {

}*/

.browse_wrapper_right {
    display: block;
    text-align: center;
    padding: 1rem;
    background-color: rgb(240, 235, 225);
    border-radius: 0.5rem;
}

.browse_filter_title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid #333;
    font-size: 3rem;
}

.browse_fits_feed {
    display: grid;
    padding: 0.5rem;
    width: calc(100%-1rem);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}

.browse_fits_post {
    position: relative;
    flex-direction: column;
    box-shadow: 0 0 0.15rem 0.01rem #333;
    width: 100%;
    aspect-ratio: 9/16;
    overflow: hidden;
}


.browse_fits_post img {
    display: block;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 9/16;
    transition: filter 0.3s;
}

.browse_fits_post img:hover {
    filter: brightness(0.9);
    transition: filter 0.3s;
}

.browse_fits_author {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    pointer-events: none; /* makes the profile and caption click-through */
}

.browse_fits_profile {
    min-width: 3rem;
    max-width: 3rem;
    margin: 0.5rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 1), 0 0 3rem rgba(0, 0, 0, 1);
    border-radius: 50%;
    pointer-events: all; /* makes profile clickable, caption still click-through */
}

.browse_fits_caption {
    width: 11rem;
    height: 1.5rem;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /*puts ... at the end if caption too long */
    color: white;
    opacity: 0.9;
    border-radius: 1rem;
}

.browse_fits_caption span {
    opacity: 1;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}









.post_create_wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60dvw;
    height: 85dvh;
}

.post_view_wrapper {
    padding: 1rem;
    background-color: #F4F4EE;
}

.post_create_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    padding: 0.5rem;
}

.post_create_right {
    display: block;
    height: calc(85dvh - 1.6rem);
    padding: 0.3rem;
    background-color: #F4F4EE;
}

.post_create_right #id_caption {
    width: calc(100% - 0.3rem - 1rem);
    height: 20%;
    padding: 0.5rem;
    opacity: 0.7;
}

.upload_confirm {
    padding: 0.5rem;
    width: 5rem;
    background-color: none;
    border-radius: 0.5rem;
}

.upload_next {
    padding: 0.5rem;
    width: 5rem;
    background-color: none;
    border-radius: 0.5rem;
}

.upload_cancel {
    padding: 0.5rem;
    width: 5rem;
    background-color: none;
    border-radius: 0.5rem;
}

.step {
    display: inline-block;
    border: none;
    border-radius: 50%;
    height: 1rem;
    aspect-ratio: 1;
    background-color: #333;
}

.post_create_left {
    display: flex;
    position: relative;
    height: calc(85dvh - 1.9 rem);
    overflow: hidden;

}

.form_control_image {
    display: block;
    position: absolute;
    padding: 1rem;
    cursor: pointer;
}

.form_control_image:hover {
    filter: brightness(0.95)
}

.form_control_image::-webkit-file-upload-button {
    display: none;
}

.form_control_caption {
    width: 100%;
}

input[type='file'] {
    color: transparent;
 }

 label[for="id_image"] img {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
 }























.post_view_grid {
    display: grid;
    width: 55rem; /*calc(3*18rem+1rem)*/
    grid-template-columns: calc(0.5*55rem) calc(0.1*55rem) calc(0.3*55rem);
    grid-gap: 0.5rem;
}

.post_view_image_wrapper {
    position: relative;
    display: block;
    width: calc(0.5*55rem - 0.2rem);
    height: calc(36rem - 0.2rem);
    border: solid 0.1rem black;
    overflow: hidden;
}

.post_view_image img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 36rem;
}

.post_view_nav {
    display: grid;
    align-content: flex-start;

    grid-template-columns: 1fr;
    row-gap: 0.5rem;
}

.post_view_back {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: inline-block;
    background-color: #F4F4EE;
    border-radius: 50%;
    filter: opacity(0.5);
    transition: 0.2s;
    
}

.post_view_back:hover {
    filter: opacity(1);
    transition: 0.2s;
}

.post_view_back a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    padding: 0;
    border-radius: 1rem;
}

.post_view_back svg {
    width: 50%;
    height: 50%;
}


.post_view_nav_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem;
    max-width: 100%;
    height: 100%;
    cursor: pointer;

}

.post_view_clickable_icon { /* default size when not hovering */
    transform: scale(1);
    transition: transform 0.3s;
    width: 100%;
}

.post_view_clickable_icon:hover { /* makes the button scale larger on hover */
    transform: scale(1.05);
    transition: transform 0.3s;
}


#like_button { /*  logic for like button off hover default scale */
    transform: scale(1);
    transition: transform 0.3s;
    width: 100%;
}

#like_button:hover { /*  logic for like button on hover increase scale */
    transform: scale(1.05);
    transition: transform 0.3s;
}

.post_view img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.post_view_right {
    display: grid;
    grid-template-rows: auto 1fr; /*top element automatically sized (based on caption length), bottom element takes up rest */
    grid-gap: 0.5rem;
    height: 36rem;
}
.post_view_caption_wrapper {
    word-wrap: break-word;
    overflow: hidden;
}

.post_view_caption   {
    display: flex;
    flex-direction: column;
    border: solid black;
    padding: 1rem;
}

.post_view_caption h5 {
    font-size: 0.6rem;
    color:rgb(120, 120, 120);
}

.post_view_author {
    display: flex;
    font-weight: bold;
}

.post_account_img_wrapper {
    display: block;
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
    border: solid rgb(225, 225, 220);
    border-radius: 50%;
}


.post_account_img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;

}

.post_view_side_with_comment_form {
    border: solid black;
    width: 16.5rem;
    overflow-y: hidden;
}



.post_view_side_wrapper {
    display: block;
    padding: 1rem;
    width: (0.3*55rem);
    max-height: calc(5 / 8 * 36rem - 2.4rem);
    text-align: center;
    overflow-y:auto;

}

.post_view_side_wrapper::-webkit-scrollbar {
    width: 0.25rem;
}

.post_view_side_wrapper::-webkit-scrollbar-track {
    background-color: #a6a6a6;
}

.post_view_side_wrapper::-webkit-scrollbar-thumb {
    background-color: #535353;
    border-radius: 0.25rem;
}

.comments_section {
    overflow-y:auto;
    width: 100%;
}

#comment_form_wrapper {
    position: sticky;
    bottom: 0;
    width: (0.3*55rem);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: solid 0.1rem #cbcbcb;
}

.comment_form {
    display: flex;
    flex: 1;
    height: 3rem;
    background-color: pink;
}


#id_caption {
    width: calc(100% - 2*0.5rem);
    outline: none; /* remove focus borders on selection */
    padding: 1rem;
    border: none;
    resize: none;
    background-color: #F4F4EE;
}

.comment_submit {
    border: none;
    filter: brightness(1);
    transition: filter 0.15s;
}

.comment_submit svg {
    display: block;
    height: 1rem;
    width: 1rem;
}

.comment_submit:hover {
    filter: brightness(0.9);
    transition: filter 0.15s;
}

.comment {
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
}

.comment_author {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
}

.comment_author h3 {
    font-size: 0.8rem;
    margin-right: 0.2rem;
}

.comment_author h5 {
    font-size: 0.5rem;
    color: #a6a6a6;
}

.comment_caption {
    display: block;
    text-align: left;
    word-wrap: break-word;
}

.comment_caption p {
    font-size: 0.8rem;
    margin-top: 0;
    margin-left: 0;
    padding: 0.5rem;
    border-radius: 1rem;
    border: solid rgb(230, 225, 215) 0.1rem;
}

.comment_account_img_wrapper {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.2rem;
}

.comment_account_img {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
}

.comment_delete {
    display: flex;
    flex-grow: 1;
}

.comment_delete_submit {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    cursor: pointer;
    margin-left: auto;
    background-color: #F4F4EE;
}

.comment_delete_submit svg {
    width: 1rem;
    height: 1rem;
}
