:root {
    font-size: 16px; /*this helps to define relative sizing (rem)*/
}

body {
    background-color:#F4F4EE;
    padding: 0;
    margin: 0;
}

main {
    margin-left: 5rem; /* sidebar */
    margin-top: 4rem; /* navtop */

}

.main_wrapper { /*wrapper required to add margin/padding so that navbar doesnt get affected */
    padding: 2rem;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #a6a6a6;
}

body::-webkit-scrollbar-thumb {
    background-color: #535353;
    border-radius: 0.25rem;
}













/* navigation bar */


.navtop {
    z-index: 100; /* to ensure navbar is always on top on z axis */
    margin: 0;
    padding: 0;
    height: 4rem;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(240, 235, 225);
    border: solid black;
    
    
}

.logo {
    padding: 0.5rem;
    padding-top: 0.2rem;
}

.logo a{
    color: black;
    text-decoration: none;
    font-size: 3rem;
}


.sidebar {
    position: fixed;
    z-index: 99;
    margin: 0;
    padding: 0;
    width: 5rem; /* same as margin given in main*/
    height: calc(100vh - 4rem);
    background-color: rgb(240, 235, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    transition: 0.5s width ease; /* animation of sidebar */

}

.nav_item {
    width: 100%;
}

.nav_item:last-child {
    margin-top: auto;
}

.nav_item a {
    display: flex;
    align-items: center;
    height: 5rem;
    color: black;
    text-decoration: none;
    list-style: none;
}

.nav_item span {
    display: none;
    margin-left: 1rem;
}

.nav_item svg {
    min-height: 2rem;
    margin: 0 1.5rem;
}

.sidebar:hover {
    width: 16rem;
}

.sidebar:hover span{
    display: inline-block;
}

.nav_item:hover {
    background-color: rgb(230, 225, 215)
}













/* registration */

.register_container {

    display: block;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-radius: 15px;
    border: 3px;
    border-style: solid;
    border-color:rgb(114, 114, 114);
    box-shadow: 0px 0px 10px 3px #a6a6a6;
    width: 40%;
    background-color: #F4F4EE;
}

.register_container h3 {
    font-size: 32px;
    font-weight: bold;
}
.register_container h5 {
    font-size: 12px;
    font-weight: bold;
}


.already_have_account_button {
    text-align: center;
}

.form_group {
    font-size: 16px;
    font-weight: bold;
}

.register_container a {
    font-size: 20px;
    color: #333;
    text-decoration: underline;
}








/* profile */



.profile_content_section_wrapper {
    display: flex;
    flex-direction: column;
    margin: 3%;
    height: 800px;
    width: 94%; /* 100 - margin*2 */
    border-radius: 25px;
    overflow:hidden; /* this makes border-radius take effect, otherwise it wont work */
    background-color: rgb(240, 235, 225);
}

.profile_content_section {
    padding: 5%;
    border: solid black;
    display: flex;
    align-items: center;
    width: 100%;
}

.media_body {
    display: inline-flex;
    flex-direction: column;

}

.account_img {
    height: 10rem;
    width: 10rem;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: solid #cbcbcb;
    border-width: 5px;
}
  
.username_wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.account_heading {
    font-size: 2rem;
    margin: 0;
}

.account_secondary {
    font-size: 1rem;
    margin: 0;
}

.edit_profile_button {
    opacity: 0.6;
    margin: 0;
    padding: 0;
}

.edit_profile_button:hover {
    opacity: 1;    
}

.edit_profile_button img {
    height: 1rem;
    padding-left: 0.5rem;
}













.sign_in_button {
    background-color: #c9c9c9;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 20px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}

.sign_in_button:hover {
    opacity: 1;
}

label[for="id_username"] {
    color: #333;
    font-weight: bold;
}

label[for="id_password1"] {
    color: #333;
    font-weight: bold;

}

label[for="id_password2"] {
    color: #333;
    font-weight: bold;
    text-align: left;
}

input[type="text"] {
    height: 24px;
    width: 100%;
    margin-bottom: 2%;

}

input[type="password"] {
    height: 24px;
    width: 100%;
    margin-bottom: 2%;

}











/* homepage */

.homepage_button_container {
    display: flex;
    justify-content: space-between;
    background-color: #e4e4e4;
    width: calc(100% - 2*2rem);
    cursor: default;
}

.home_main_button {
    flex: 1;
    max-width: 33.333vw;
    min-width: 30vw;
    height: 50rem;
    box-shadow: 0px 0px 8px 0px rgb(153, 153, 153);
    padding: 0;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: opacity 0.5s;
}

.home_main_button:hover {
    opacity: 1;
}

.home_main_button img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.home_main_button div {
    z-index: 1;
    position: relative;
    text-align: center;
    top: 75%;
    color: white;
    text-shadow: 0px 0px 0px 1px black;
    text-decoration: none;
    font-size: 24px;
}