<nav class= "navbar">
    <ul>

    <li><a href="/"; style="font-size: 64px";>FASHOUT</a></li>

    <li><a href="{% url 'about' %}"; style="font-size: 32px";>about</a></li> 
    
    {% if user.is_authenticated %}

        <li><a href="{% url 'profile' %}"; style="font-size: 32px";>profile</a></li> 

        <li><a href="{% url 'user_logout' %}"; style="font-size: 32px";>logout</a></li>


    {% else %}    

    <li><a href="{% url 'user_login' %}"; style="font-size: 32px";>login</a></li>

    {% endif %}
    
    </ul>

<nav>