{% extends "main.html" %}

{% block content %}

    <div class="main_wrapper">

        <div class="homepage_button_grid">

            <div class="homepage_button">
                <a href="{% url 'ootd' %}">
                    <img src="media/user_posts/{{ random_image_ootd }}" alt="OOTD">
                    <span> OOTD </span>
                </a>
            </div>


            <div class="homepage_button">
                <a href="{% url 'browse_fits' %}">
                    <img src="media/user_posts/{{ random_image_browse_fits }}" alt="BROWSE FITS">
                    <span> BROWSE FITS </span>
                </a>
            </div> 

            <div class="homepage_button">
                <a href="{% url 'style_guide' %}">
                    <img src="media/user_posts/{{ random_image_style_guide }}" alt="STYLE GUIDE">
                    <span> STYLE GUIDE </span>
                </a>
            </div>

        </div>

</div>

{% endblock %}