{% extends "main.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="main_wrapper">
        <div class="register_container">
            <h3> Login to account </h3>
            <h5> Welcome back! </h5>

            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form|crispy}}


                <br>

                <button type="submit" class="sign_in_button"> Sign in </button>
            </form>

            <br>
            <hr>
            
            <div class="already_have_account_button">
                <p> Don't have an account? </p> <a href="{% url "user_register" %}"> Sign up </a>
            </div>
        </div> 
    </div>


{% endblock %}